:root {
  --primary: #dbf0fd;
  --secondary: #7accff;
  --accent1: #8fcef5;
  --accent2: #4986db;
  --text: #4b5563;
  --muted: #616161;
  --title-black: #000000;
  --card-bg: #ffffff;
  --radius: 10px;
  --shadow: -3px 6px 7.5px 0px rgba(0, 153, 255, 0.5);
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: Inter, Spline Sans;
}

body {
  background: var(--primary);
  color: var(--text);
}

/* LAYOUT */
.app {
  display: flex;
  height: 100vh;
  align-items: stretch;
}

/* NAVBAR */
.nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.bottom-links {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 10px;
}

.navbar {
  width: 100%;
  background: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.nav-container {
  width: 95%;
  max-width: 1500px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 36px;
  font-weight: bolder;
  background: linear-gradient(90deg, #8fcef5 0%, #4986db 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.logo span {
  font-weight: 400;
  font-size: 20px;
  opacity: 0.8;
  color: var(--muted);
  font-family: "Zen Kaku Gothic Antique", sans-serif;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 35px;
}

.nav-links a {
  text-decoration: none;
  color: #555;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #2563eb;
}

/* PROFILE AREA */
.profile img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
}

.product-icon

HAMBURGER
.hamburger {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}

.hamburger div {
  width: 28px;
  height: 3px;
  background: #333;
  border-radius: 5px;
}

/* SIDEBAR */
.sidebar {
  width: 230px;
  background: linear-gradient(180deg, var(--secondary));
  padding: 50px 18px;
  border-right: 1px solid rgba(0, 0, 0, 0.03);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 70px;
}

.sidebar-btn {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 18px;
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  color: white;
  font-size: 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.sidebar-btn img {
  width: 20px;
  height: 20px;
  filter: brightness(0) invert(1);
  transition: 0.2s;
}

.sidebar-btn:hover {
  background: rgba(255, 255, 255, 0.12);
}

.sidebar-btn.active {
  background: rgba(255, 255, 255, 0.75);
  box-shadow: var(--shadow);
  color: black;
}

.sidebar-btn.active img {
  filter: brightness(0);
}

/* MAIN */
.main {
  flex: 1;
  padding: 28px 36px;
  overflow: auto;
  margin-top: 100px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
}

.page-title {
  font-size: 36px;
  color: var(--title-black);
  margin: 0;
  font-family: "Spline Sans", Inter;
}

.add-btn {
  background-color: #009eff;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

/* GRID PRODUCT */
.grid {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  width: 380px;
  background: var(--card-bg);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card-head {
  background: var(--secondary);
  padding: 14px 14px;
  border-radius: 12px 12px 0 0;
  display: flex;
  align-items: center;
  gap: 12px;
}

.card-header .header-img {
  width: 42px;
  height: 42px;
  object-fit: cover;
}

.card-head h3 {
  margin: 0;
  color: var(--title-black);
  font-size: 16px;
  font-weight: 500;
}

.card-body {
  padding: 16px;
  font-size: 14px;
  color: var(--text);
}

.card p {
  margin: 6px 0;
  gap: 8px;
  font-size: 16px;
  color: var(--text);
  line-height: 1.4;
}

.desc-line {
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
  line-height: 1.4;
}

.desc-line .label {
  font-weight: 600;
  min-width: 45px;
}

.desc-line .value {
  flex: 1;
  word-break: break-word;
}

.meta {
  font-size: 14px;
  color: var(--muted);
  margin-top: 6px;
}

.sep {
  margin: 14px 0;
  border: none;
  height: 1px;
  background: var(--muted);
}

/* CARD ACTIONS */
.actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.icon-btn {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.icon-btn:hover {
  background: rgba(0, 0, 0, 0.03);
}

/* FORMS */
.view {
  display: none;
}

.view.active {
  display: block;
}

.form-page-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--title-black);
}

.card-form {
  background: white;
  padding: 40px;
  border-radius: 14px;
  width: 80%;
  margin-top: 10px;
  justify-self: center;
}

.form-table .row {
  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: center;
  margin-bottom: 20px;
}

.form-table label {
  font-weight: 600;
  font-size: 18px;
}

.form-table input,
.form-table textarea {
  background: #d8ecfa;
  border: none;
  padding: 10px 14px;
  border-radius: 8px;
  width: 100%;
  font-family: "Spline Sans", Inter;
  font-size: 16px;
}

.form-table input[type="file"] {
  background: none;
}

.form-preview-img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.form-table hr {
  margin: 30px 0;
  border: 0;
  border-top: 1px solid var(--title-black);
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.btn-primary {
  background: #009eff;
  border: none;
  padding: 10px 14px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.btn-secondary {
  background: transparent;
  border: 1px solid #cfeeff;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

/* responsiveness */
@media (max-width: 900px) {
  .sidebar {
    display: none;
  }
  .card {
    width: 100%;
  }
  .main {
    padding: 20px;
  }
}

/* Responsive */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 70px;
    right: -100%;
    width: 200px;
    background: white;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: 0.4s;
  }

  .nav-links.active {
    right: 20px;
  }

  .hamburger {
    display: flex;
  }
}
